@model MVCGruppuppgift.Models.personchannel

    @*Lägga till nya kanaler i sin egna lista*@
<div id="addFavoriteSection">
    @using (Html.BeginForm("chanlist", "Home", FormMethod.Post))
    {

        @Html.DropDownListFor(x => x.FK_channelid, new SelectList(ViewBag.addfavorite, "Value", "Text"))


        <input type="submit" value="Lägg till" id="addchannels" />
    }
</div>